*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 40px 50px;
    color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../eduford_img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header .head{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content:space-between;
    align-items: center;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav div{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    cursor: pointer;
}

.nav div::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav div:hover::after {
    transform: scaleX(1);
}

.head img{
    max-width: 180px;
    height: auto;
    margin-top: 6px;
}


.header .content {
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1{
    font-size: 34px;
    margin-top: 70px;
}

.container{
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: start;
}

.container .item{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 20px;
    justify-content: center;
}

.right{
    border: 1px solid #f44336 ;
}
.right h3{
    text-align: center;
}
.right div{
    border: 1px solid #f44336 ;
    display: flex;
    justify-content: space-between;
    padding: 18px 5px;
}

.right h3{
    background-color: #f44336;
    color: #fff;
    padding: 7px 0;
}
.item p{
    margin-top: 40px;
    color:rgb(125, 113, 98);
}

.container .item img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.head-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head-about i{
    padding:0 10px;
}

.head-about i:hover{
    color: tomato;
    cursor: pointer;
}

.head-about p, .head-about a{
    padding: 25px;
    text-decoration: none;
    color: rgb(125, 113, 98);
} 

.head i{
    display: none;
}

.contact{
    border: 1px solid #131212bb;
}

.box-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.box-contact .box-item{
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(221, 236, 236);
    border: none;
    outline: none;
}

.contact .box-contact h2{
    background-color: #fff;
    margin:0 -10px;
    font-size: 16px;
}

.contact button{
    width: 15%;
    padding: 12px 20px ;
    font-size: 16px;
    margin: 20px 0;
    background-color: transparent;
    border: 1px solid tomato;
    color: tomato;
    cursor: pointer;
    transition: .7s;
}

.contact button:hover{
    background-color: rgb(242, 16, 12);
    color: #ffffff;
    border: 1px solid rgb(242, 16, 12) ;
}

@media(max-width: 740px){

    .head i{
        display: block;
    }

    .header{
       padding: 20px; 
    }
    .head img{
        width: 120px;
    }
    .nav div{
        display: block;
        padding: 20px;
        font-size: 14px;
    }

    .nav ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .nav{
        display: none;
        position: absolute;
        background-color: tomato;
        top: 0;
        right: -220px;
        height: 100vh;
        z-index: 2;
        padding: 20px 20px;
        border-radius: 10px 0 0 10px;
        transition: 1s;
    }

    .hidden{
        display: block;
        right: 0;
    }

    .nav i{
        font-size: 20px;
        cursor: pointer;
        padding:0 5px;
    }

    .content h1{
        font-size: 28px;
    }

    .container{
        flex-direction: column;
        margin: 80px 20px;
    }
    
    .container .item{
        width: 100%;
        margin: 20px 0;
    }

    .contact button{
        width: 50%;
        padding: 12px 20px ;
        font-size: 14px;
        margin: 20px 0;
        background-color: #ffffff;
        border: 1px solid tomato;
        color: tomato;
        cursor: pointer;
        transition: .7s;
    }
    
    .contact button:hover{
        background-color: rgb(242, 16, 12);
        color: #ffffff;
        border: 1px solid rgb(242, 16, 12) ;
    }

}